{% extends "base/base.html" %}
{% load static %}

{% block body %}


<div class="row">
    <div class="jumbtron jumbtron-fluid mt-2">
        <h1 class="display4"> <a href="https://courses.cognitiveclass.ai/certificates/0f2b3e3e082842a2b932a7503a2f3fa0" target="_blank" style="text-decoration: none;  color: AntiqueWhite;"> Python 101 for Data Science </h1>
    </div>

    <div class="jumbtron jumbtron-fluid mt-2">
        <h1 class="display4"> <a href="https://www.skyfilabs.com/verify-certificate/60090018" target="_blank" style="text-decoration: none; color: AntiqueWhite;"> Machine Learning using Python Online Project-based Course (NEAT) </h1>
    </div>

    <div class="jumbtron jumbtron-fluid mt-2">
        <h1 class="display4"> <a href="https://www.coursera.org/account/accomplishments/certificate/X78FCDJHTY7Y" target="_blank" style="text-decoration: none; color: AntiqueWhite;"> Machine Learning </h1>
    </div>

    <div class="jumbtron jumbtron-fluid mt-2">
        <h1 class="display4"> <a href="https://www.coursera.org/account/accomplishments/certificate/XCRN692VP82M" target="_blank" style="text-decoration: none; color: AntiqueWhite;"> Neural Networks and Deep Learning </h1>
    </div>

    <div class="jumbtron jumbtron-fluid mt-2">
        <h1 class="display4"> <a href="https://www.coursera.org/account/accomplishments/verify/9ZF8R5L2BHYG" target="_blank" style="text-decoration: none; color: AntiqueWhite;"> Introduction to Data Science in Python </h1>
    </div>

    <div class="jumbtron jumbtron-fluid mt-2">
        <h1 class="display4"> <a href="https://www.udemy.com/certificate/UC-47f792e4-ecd2-45c4-96fc-0a4789980314/" target="_blank" style="text-decoration: none; color: AntiqueWhite;"> Practical Machine Learning by Example in Python </h1>
    </div>

</div>


{% endblock body %}