{% extends "base/base.html" %}
{% load static %}

{% block body %}


<div class="row my-2">
    {% for project in projects %}
    <div class="col-6">
        <div class="project-card" style="margin-top: 2rem; border: 1px solid #e0e0e0; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); padding: 15px; background-color: #f0f8ff;">
            <h2>{{ project.title }}</h2>
            <img src="{{ project.image.url }}" alt="{{ project.title }}" style="display: block; margin-bottom: 10px; width: 100%; height: auto; border-radius: 4px;">
            <p style="color: #333; width: 80%; margin: 0;">{{ project.description|safe }}</p>
            <a href="{{ project.github_url }}" target="_blank" style="text-decoration: none; color: #007bff;">View on GitHub</a> 
        </div>
    </div>
    {% endfor %}
</div>


<link rel="stylesheet" href="{{ project.github_link }}">

{% endblock body %}